.root {
  padding: 3rem 6rem;

  img {
    display: block;
    margin: 0 auto;
  }

  ::ng-deep article {
    margin-top: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2.4rem;

    h2 {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 2.5rem;
      margin: 2rem 0;
    }

    p, li {
      font-size: 2rem;
    }

    li {
      list-style: circle;
    }

    ol, ul {
      padding-left: 2.5rem;
    }

    pre {
      background: #f4f4f4;
      border: 1px solid #ddd;
      border-left: 3px solid #f36d33;
      color: #666;
      page-break-inside: avoid;
      font-family: monospace;
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 1.6em;
      max-width: 100%;
      overflow: auto;
      padding: 1em 1.5em;
      display: block;
      word-wrap: break-word;
    }

  }

  .voltar {
    font-size: 2rem;
  }
}
