<div class="hero">
  <div class="hero-text">
    <h1>BLOG ANGULAR</h1>
    <p>Bootcamp DIO</p>
  </div>
  <div class="hero-subscribe">
    <div class="subscribe-card">
      <div class="subscribe-card-text">
        <h2>Inscreva-se agora!</h2>
        <p>Atualizações diárias</p>
      </div>
      <form class="form">
        <input class="form-input" type="email" name="email" id="email" placeholder="Seu e-mail">
      </form>
      <button class="form-button">Inscrever</button>
    </div>
  </div>
</div>
