.root {
  padding: 3rem 6rem;
  margin-top: 2rem;
  line-height: 2.8rem;
  margin-bottom: 2.4rem;

  img {
    display: block;
    margin: 0 auto;
  }

  h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  p, li {
    font-size: 2rem;
    text-indent: 2rem;
  }

  :last-child{
    margin-top: 2.4rem;
  }

  li {
    list-style: circle;
  }

  ol, ul {
    padding-left: 2.5rem;
  }

  a {
    text-decoration: underline;
    color: #7474e0;
  }
}

.voltar {
  display: block;
  font-size: 2rem;
  text-align: center;
}
