/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:visited {
    color: currentcolor;
  }
}

h1 {
  font-size: 2.4em;
}

p {
  font-size: 1.4em;
}

li {
  font-size: 1.4em;
  list-style: none;
}
