/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
  background-color: rgba(239, 239, 239, 0.92);
  overflow-y: overlay;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentcolor;

  &:visited {
    color: currentcolor;
  }
}

li {
  list-style: none;
}
